## PRACTICE NOTEBOOK

# Data types in Python

In [1]:
# Integer data type
56

56

In [2]:
type(56)

int

In [4]:
# String data type
"notebook"

'notebook'

In [5]:
type("notebook")

str

In [6]:
# Float data type
23.3

23.3

In [7]:
type(23.3)

float

In [8]:
# Boolean data type
True

True

In [9]:
type(True)

bool

In [10]:
False
type(False)

bool

# Lists in Python
A list is an array of elements used to store multiple values in a single variable

In [11]:
# Creating a list
list1=[1,2,3,4,5,6]

In [12]:
type(list1)

list

In [13]:
# Print list1
list1

[1, 2, 3, 4, 5, 6]

In [15]:
# Print a list more than once
[list1,list1,list1]

[[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

# Operators in Python
Special symbols in Python that carry out arithmetic or logical computation

In [16]:
# Examples of operators
# Addition operator
13+3

16

In [17]:
#Multiplication operator
12*3

36

In [19]:
# Using operators with strings
#Additon operator concatenates strings
"Hello,"+" How are you?"

'Hello, How are you?'

# Assignment operator in Python
'=' assigns values from right side operands to the left side operand. '==' checks if the values of two operands are equal or not.

In [20]:
a=34

In [21]:
a==34

True

In [22]:
b='string'

In [23]:
b=='string'

True

# Tuples in Python
Collection of elements, used to store multiple values in a single variable.
# Difference between a list and a tuple
Lists are mutable whereas tuples are immutable.

In [24]:
# Creating a tuple
tuple1=(1,3,4,6)

In [25]:
# Accessing elements in a list using indicies of elements
list2=[335,66,35,3]

In [26]:
# Use square brackets and specify the index of the element
list2[3]

3

In [27]:
list2[2]

35

# If-else statement in Python

In [28]:
#Example of an if-else statement
marks=[45,65,34,35,70]

In [29]:
pass_marks=30

In [31]:
if marks[3]<pass_marks:
    print("The student is failing")
else:
    print("The student is passing")

The student is passing

In [32]:
#Another example of if-else statement
a1=["apple","banana","kiwi","mango","potato"]

In [36]:
test="potato"

In [37]:
if a1[3]==test:
    print("It's a vegetable")
else:
    print("It's not a vegetable")

It's not a vegetable

# For loop in Python
Used to iterate over a sequence

# Range function in Python
Built-in function in Python that returns a sequence of numbers

In [39]:
# Generating a sequence of numbers using range function
a2=range(10)

In [40]:
print(a2)

range(0, 10)

In [41]:
#Using for loop to print all the numbers
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
marks2=[34,56,67,23,70,57]

In [45]:
# Printing the elements present in the list above
for i in range(len(marks2)):
    print(marks2[i])

34
56
67
23
70
57

In [47]:
for marks in marks2:
    print(marks)
    if marks<30:
        print("The student is failing")
    else:
        print("The student is passing")

34
The student is passing
56
The student is passing
67
The student is passing
23
The student is failing
70
The student is passing
57
The student is passing

In [48]:
# Making it more readable
for marks in marks2:
    print(marks)
    if marks<30:
        print("The student is failing")
    else:
        print("The student is passing")
        print("-------------------")

34
The student is passing
-------------------
56
The student is passing
-------------------
67
The student is passing
-------------------
23
The student is failing
70
The student is passing
-------------------
57
The student is passing
-------------------